* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Home {
  display: flex;
  position: relative;
}
.Main {
  width: 600px;
  height: 600px;
  border: 1px solid;
  margin: 50px auto;
}
.Title {
  height: 50px;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 1px solid;
}
.Main_contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.FromSearch {
  display: flex;
  width: 100%;
  position: relative;
  border-radius: 1px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  margin-left: 10px;
}
.SearchText {
  width: 100%;
  padding: 0px 8px;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  justify-content: flex-start;
  line-height: calc(80%);
  outline: none;
}
.SearchButton {
  width: 60px;
  height: 35px;
  background-color: rgb(251, 85, 51);
  margin: 2px 2px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
}
.SearchIcon {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  justify-content: center;
}
.MiddleSearch {
  width: 80%;
  height: 35px;
  position: relative;
  display: flex;
  margin-left: 10px;
  flex: 1 1 0%;
  border: 1px solid;
}
.Item {
  width: 90%;
  border: 3px solid;
  overflow: auto;
  margin-top: 10px;
  height: 480px;
}
.item {
  margin-left: 20px;
  height: 35px;
  margin: 10px;
  font-size: 20px;
  padding-left: 40px;
  padding-top: 5px;
  width: 90%;
  border: 1px solid;
  border-radius: 20px;
}
