* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Home {
  display: flex;
  position: relative;
}
.Main {
  width: 600px;
  height: 400px;
  border: 1px solid;
  margin: 50px auto;
}
.Title {
  height: 50px;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 1px solid;
}
.Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item {
  width: 300px;
  height: 40px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 50px;
  border-radius: 20px;
  cursor: pointer;
}
.text {
  text-decoration: none;
  color: black;
}
